*{
    margin:0;
    padding:0;
    box-sizing:unset;
}

body{
    background-color: rgb(0, 0, 0);
    display:flex;
    justify-content: center;
    background-image: url(../style/imagens/fundo.png);
    background-size: 100% auto;
}

/*Cabeçalho*/
#stickyCabecalho {
    overflow:inherit;
    height: 215px;
    position:sticky;
    top:0;
    z-index:100;
}

#cabecalho {
    display:flex;
    background-color: #05466c;
    height: 200px;
    border-bottom: 15px solid black;
}

#cabecalho a{
    text-decoration: none;
}

#prefeituraDeJoinville {
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#prefeituraDeJoinville img {
    height: 100px;
    width: auto;
    margin:20px;
}

.faixaCabecalho {
    background-color: white;
    height:204px;
    width:80px;
    margin-bottom: -145;
}

.botaoCabecalho {
    background-color: white;
    display:flex;
    flex-direction: column;
    border-radius: 100%;
    height:110px;
    width:110px;
    justify-content: center;
    text-align: center;
    margin:0 5 30 5;
    border:5px solid white;
}

.botaoCabecalho:hover {
    background-color: white;
    display:flex;
    flex-direction: column;
    border-radius: 100%;
    height:110px;
    width:110px;
    margin:0 5 30 5;
    border:5px solid #05466c;
    justify-content: center;
    text-align: center;
}

.botaoCabecalho img {
    height:50px;
    width: 50px;
    opacity:0.5;
}

.botaoCabecalho p {
    font-family:sans-serif;
    font-size: 30px;
    opacity:0.5;
    text-decoration: none;
    color:black;
}

.botaoEssaPagina {
    background-color: white;
    display:flex;
    flex-direction: column;
    border-radius: 100%;
    height:110px;
    width:110px;
    margin:0 5 30 5;
    border:5px solid #05466c;
    justify-content: center;
    text-align: center;
}

.botaoEssaPagina:hover {
    background-color: white;
    display:flex;
    flex-direction: column;
    border-radius: 100%;
    height:110px;
    width:110px;
    margin:0 5 30 5;
    border:5px solid black;
    justify-content: center;
    text-align: center;
}

.botaoEssaPagina img {
    height:50px;
    width: 50px;
    opacity:1;
}

.botaoEssaPagina p{
    font-family:sans-serif;
    font-size: 30px;
    opacity:1;
    text-decoration: none;
    color:black;
}

#loginCabecalho {
    margin-left: 20px;
    margin-right: 20px;
}

#loginCabecalho img {
    height:110px;
    width: 110px;
    margin-top: 40px;
}

#loginCabecalho div {
    background-color: black;
    height: 20px;
    width: 110px;
    margin-top: 30px;
}

/*titulo trânsito e escola*/
#tituloTransitoBorda{
    border-bottom: 15px solid rgb(0, 0, 0)
}

#tituloTransito {
    height:300px;
    background-image: url("../style/imagens/imagemTitulo.png");
    background-size:cover;
    background-position: 50% 80%;
    opacity:0.5;
    display:flex;
    flex-direction: column;
}

#tituloTransito u {
    padding: 10% 0 0 5%;
    font-size: 70px;
    opacity:0.9;
    font-style: italic;
}

#tituloTransito div {
    height: 15px;
    opacity:1;
    margin-top: 10%;
    background-image: url(../style/imagens/fundo.png);
    background-size: 100% auto;
}

/*página inicial*/
#fundoCadastre-se {
    content:"";
    background-image: url(../style/imagens/fundoCadastre-se.png);
    background-size:cover;
    background-position: center;
    height:auto;
    opacity:0.5;
    margin-top: 30px;
}

.fundoCadastre-seDiv{
    height: 15px;
    opacity:1;
    margin: 15px 0 15px 0;
    background-image: url(../style/imagens/fundo.png);
    background-size: 100% auto;
}

#cadastre-se {
    background-image: url(../style/imagens/fundo2Cadastre-se.png);
    background-size: auto 500px;
    background-position: center;
    background-repeat: no-repeat;
    height:500px;
    opacity:1;
    text-align: center;
}

#cadastre-se p {
    font-family:sans-serif;
    font-size: 40px;
    padding:20% 0 0 18%;
    color:rgb(255, 217, 190);
}

#botaoCadastrar-se {
    display:inline-flex;
    background-color: black;
    border-radius: 20%;
    margin:0 0 -200px 0;
    margin:20px 0 0 18%;
    border-left: 5px solid white;
    border-right: 5px solid white;
}

#botaoCadastrar-se:hover {
    background-color: rgb(33, 33, 33);
}

#botaoCadastrar-se p {
    padding:0 0 0 0;
    margin:0 10px 0 10px;
}

#materiaisAcessiveis {
    width: calc(100% - 100px);
    height: 600px;
    background-color: white;
    border: 20px solid black;
    margin:100px 0 100px 0;
    text-align: center;
}

#materiaisAcessiveis p {
    font-size:50px;
}

#materiaisAcessiveis1 {
    width: 200px;
    height: 320px;
    border: 10px solid black;
    border-radius:30%;
    margin:10px 20px 0 20px;
    background-image: url(../style/imagens/materiaisDisponiveisFund1.jpg);
    background-size: cover;
}

#materiaisAcessiveis2 {
    width: 200px;
    height: 320px;
    border: 10px solid black;
    border-radius:30%;
    margin:10px 20px 0 20px;
    background-image: url(../style/imagens/materiaisDisponiveisFund2.png);
    background-size: cover;
}

#materiaisAcessiveis3 {
    width: 200px;
    height: 320px;
    border: 10px solid black;
    border-radius:30%;
    margin:10px 20px 0 20px;
    background-image: url(../style/imagens/materiaisDisponiveisFund3.png);
    background-size: cover;
}

/*Extras*/
.row {
    display:flex;
    justify-content: center;
    width:100%;
}

.column {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100%;
}

.columnTop {
    display:flex;
    flex-direction: column;
    height:100%;
}