

/*Comandos para dar ao fundo o degradê verde */
body {
    background-color:black;
    background-image:url(Imagens/fundo.png);
    display:flex;
    justify-content: center;
    background-size: 100% auto;
    text-align: center;
    border-radius: 100%;
    height: 100%;
}

/*Caixa branca em volta das caixas de cadastro para destaca-lá*/
#CaixaCadastro {
    background-color: white;
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin: 50% 0 20 0;
    width:600px;
    height:800px;
    border: 10px solid black;
}

#CaixaCadastro h1{
    font-size: 75;
}

#CaixaCadastro input{
    border: 2px solid grey;
   font-size: 40;
}

#CaixaCadastro p{
    font-size: 40;
 }

 #CaixaCadastro button{
    font-size: 45;
    color: rgb(177, 255, 177);
    padding: 15px;
 }

*{
    margin:0;
    padding:0;
    box-sizing:unset;
}

/*Cabeçalho*/
#stickyCabecalho {
    overflow:inherit;
    height: 215px;
    position:sticky;
    top:0;
    z-index:100;
}

#cabecalho {
    display:flex;
    background-color: #05466c;
    height: 200px;
    border-bottom: 15px solid black;
}

#cabecalho a{
    text-decoration: none;
}

#prefeituraDeJoinville {
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#prefeituraDeJoinville img {
    height: 100px;
    width: auto;
    margin:20px;
}

.faixaCabecalho {
    background-color: white;
    height:204px;
    width:80px;
    margin-bottom: -145;
}

.botaoCabecalho {
    background-color: white;
    display:flex;
    flex-direction: column;
    border-radius: 100%;
    height:110px;
    width:110px;
    justify-content: center;
    text-align: center;
    margin:0 5 30 5;
    border:5px solid white;
}

.botaoCabecalho:hover {
    background-color: white;
    display:flex;
    flex-direction: column;
    border-radius: 100%;
    height:110px;
    width:110px;
    margin:0 5 30 5;
    border:5px solid #05466c;
    justify-content: center;
    text-align: center;
}

.botaoCabecalho img {
    height:50px;
    width: 50px;
    opacity:0.5;
}

.botaoCabecalho p {
    font-family:sans-serif;
    font-size: 30px;
    opacity:0.5;
    text-decoration: none;
    color:black;
}

.botaoEssaPagina {
    background-color: white;
    display:flex;
    flex-direction: column;
    border-radius: 100%;
    height:110px;
    width:110px;
    margin:0 5 30 5;
    border:5px solid #05466c;
    justify-content: center;
    text-align: center;
}

.botaoEssaPagina:hover {
    background-color: white;
    display:flex;
    flex-direction: column;
    border-radius: 100%;
    height:110px;
    width:110px;
    margin:0 5 30 5;
    border:5px solid black;
    justify-content: center;
    text-align: center;
}

.botaoEssaPagina img {
    height:50px;
    width: 50px;
    opacity:1;
}

.botaoEssaPagina p{
    font-family:sans-serif;
    font-size: 30px;
    opacity:1;
    text-decoration: none;
    color:black;
}

#loginCabecalho {
    margin-left: 20px;
    margin-right: 20px;
}

#loginCabecalho img {
    height:110px;
    width: 110px;
    margin-top: 40px;
}

#loginCabecalho div {
    background-color: black;
    height: 20px;
    width: 110px;
    margin-top: 30px;
}

#botaocadastro {
    border-radius: 40%;
    background-color: darkgreen;
    border-bottom: 10px solid black;
    border-right: 10px solid black;
}

#botaocadastro:active {
    border-bottom: 0px solid black;
    border-right: 0px solid black;
}

/*Roda Pé*/
#rodaPe {
    background-color: #05466c;
    height: 200px;
    width:100%;
    border-top: 15px solid black;
    margin-top: 50%;
}

#rodaPe img {
    height: 100px;
    margin:50px 0 50px 0;
}

/*Extras*/
.row {
    display:flex;
    justify-content: center;
    width:100%;
}

.column {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100%;
}

.columnTop {
    display:flex;
    flex-direction: column;
    height:100%;
}

.margin {
    margin:50%;
}